html, body {
  height: 100%;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  background: url(/chalkboard.jpg) 0 0 repeat;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  align-items: center;
}

.page-container {
  flex: 1 0 auto;
  width: 90vw;
}

code, pre, .code {
  font-family: 'Inconsolata', monospace;
  color: #ccc;
}

pre[class*=language] {
  overflow: hidden;
}
pre[class*=language] .line-highlight {
  display: none;
}

.list-plain {
  list-style: none;
  padding: 0;
}

.horizontal {
  display: flex;
}

nav.main-nav {
  background: none;
  box-shadow: none;
}
nav.main-nav li.active button,
.pagination li.active button {
  box-shadow: 1px 1px 5px rgba(0,0,0, .5) inset;
  color: #004d40;
}
.btn {
  text-transform: none;
  padding: 0 10px;
}
a {
  color: #fff;
  border-bottom: 1px solid;
}
.pagination,
.main-nav ul {
  justify-content: space-between;
  padding: 20px 0;
}
.pagination li {
  padding-right: 0;
}
.pagination li.active {
  background: none;
}
.pagination button {
  background: #26a69a;
  border: none;
  box-shadow: none;
  border-radius: 3px;
}

img {
  margin: 5px;
}

blockquote {
  border-color: #26a69a;
  color: #ccc;
}
blockquote:after {
  content: '(' attr(cite) ')';
  text-align: right;
  display: block;
  margin-top: 10px;
  color: #26a69a;
  font-size: 12px;
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer li + li {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid;
}

.listing li{
  list-style-type: circle;
  padding-left: 10px;
  margin-left: 20px;
}
