html, body {
  height: 100%;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  background: url(/chalkboard.jpg) 0 0 repeat;
  color: #fff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  align-items: center;
}

.page-container {
  flex: 1 0 auto;
  width: 90vw;
}

code, pre, .code {
  font-family: 'Inconsolata', monospace;
  color: #ccc;
}

pre[class*=language] {
  overflow: hidden;
}

.list-plain {
  list-style: none;
  padding: 0;
}

.horizontal {
  display: flex;
}

.horizontal li + li {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #fff;
}
nav.main-nav {
  background: none;
  box-shadow: none;
}
nav.main-nav li.active button {
  box-shadow: 1px 1px 5px rgba(0,0,0, .5) inset;
  color: #004d40;
}
a {
  color: #fff;
  border-bottom: 1px solid;
}

img {
  margin: 5px;
}

blockquote {
  border-color: #26a69a;
  color: #ccc;
}

.slides {
  display: flex;
  flex-direction: column;
  align-items: center;
}
