<template name="start">
  <h1>Welcome to Girl Code meteor.js workshop!</h1>
  <p class="flow-text">On this page, we'll explain how to get ready for the workshop.</p>
  <h2>Installation</h2>
  <h3>Windows</h3>
  <p>Download the official <a href="https://install.meteor.com/windows">Meteor installer</a></p>

  <h3>OS X or Linux</h3>

  <p>Install the latest official Meteor release from your terminal:</p>
  <code>$ curl https://install.meteor.com/ | sh</code>

  <p>Once Meteor is installed, run the following code in your Terminal (for mac or Linux users) or the command prompt (for Windows users):</p>

  <pre>
    $ mkdir Projects
    $ cd Projects
    $ meteor create tictactoe
  </pre>

  <p>Then, run the project from your terminal / command prompt:</p>

  <pre>
    $ cd tictactoe
    $ meteor
  </pre>

  <p>You can test the app at <a href="http://localhost:3000">http://localhost:3000</a> with your browser. Tip: use the latest version of Google Chrome.</p>

  <p>Now, open your favorite text editor (for example, <a href="https://atom.io/">Atom</a>) where you can edit your project.</p>
</template>
