<template name="step10">
  <h1>Display the winner and stop the game</h1>
  <p class="flow-text">
    In this step we want to display on the page when a player has won. There should also be a reminder whose turn it is. And finally we want the user not to be able to add a symbol when a winner is defined.
  </p>
  <p>
    We want you to figure out things on your own. So in this last step we only describe the features that we want you to implement to make this tic tac toe game really awesome.
    But don't worry, the tutors are here to help you. Google is also your friend. Have you heard about stackoverflow? This is the site where every programmer can find answers.
    You can ask specific questions. But the chances are high that somebody else has had the same question before. So type your question into google and see if you can find
    something on stackoverflow or some other place on the web.</p>
    <p>Tip: ignore answers from w3schools. If you want to know why, read about the background <a href="http://www.w3fools.com/">here</a></p>
    <p>And if you want to see how we solved the following problems you can look at our final version of the code, but please try it on your own first,
    that is the best way to learn things. So let's start mind bending :)
   </p>
  <h2>Showing the state of the game</h2>
  <p>
    The idea is that there should be a message at the top of the gameboard which tells the players whose turn it is. When there is a winner the text should represent that too.
    Can you think about the sub steps on your own? How can you display the text in html and how can you change it dynamically?
    Can you reuse some variables you have created earlier in this tutorial?
  </p>
  <h2>Stop the game</h2>
  <p>
    Maybe you have noticed that users can still add symbols to the gameboard although there has been a winner. Can you think about a way to prevent this?
    Some code should not be executed when there is a winner, right? Which code is that?
  </p>
  <h2>Some more ideas</h2>
  <p>
    There are plenty more ways you could improve the game. You might want to add some styling or some animations. You might want to play a sound when there is a winner.
    Meteor gives great opportunities to make this game a multiplayer like it is done <a href="http://tictactoe.meteor.com/">here</a>. This version of tictactoe can be played with a person who is sitting behind a computer somewhere around the world. Meteor makes it also quiet easy to build you own <a href="https://www.meteor.com/tutorials/blaze/running-on-mobile">mobile app</a>
  </p>

  <h2>Finally</h2>
  <p>
    We are pretty much at the end of this tutorial. A lot of thanks for joining this tutorial and of course girlcode :)
    We had a lot of fun to create this tutorial and we hope that you have also enjoyed doing it. What is next best step to do now?
    There are millions of answers to that, but keep on going is probably the best option. Here is a list of links with other tutorials
    from beginner to advanced, there should be something of interest:
    <ul class="listing">
      <li><a href="https://www.khanacademy.org/">Khanacademy:</a> Nice combination of videos and Tutorials.</li>
      <li><a href="https://www.coursera.org/">Coursera:</a> A lot of courses from Universities all over the world.</li>
    </ul>
  </p>

  <h2>See ya on the next girlcode event :)</h2>
  <p>Keep an eye on the meetup group, follow our blog for more workshops and tips.</p>

</template>
