<template name="step9">
  <h1>Adding a reset button</h1>
  <p class="flow-text">
    We want to reset the game with a button, so that we can start a new game if there is a winner or just because.
  </p>
  <h2>Adding a button</h2>
  <p>
    That shouldn't be that hard. So first add a button to the html:
  </p>
  {{#prism language="javascript" class="line-numbers"}}
    <button class="reset-game" type="button">Reset game</button>
  {{/prism}}
  <p>
    Add this line at the bottom of the gameboard template. You should now see a button in the browser.
  </p>
  <h2>Detecting the click event</h2>
  <p>
    We already have used the event handler on the box template. So how can we make sure that only the button press and not every click on the gameboard will reset the game.
  </p>
  {{#prism language="javascript" class="line-numbers"}}
    Template.gameboard.events({
      'click .reset-game': function() {
        resetGame();
      }
    });
  {{/prism}}
  <p>
    This will do the trick. Notice that the event is now a click-event on the element with classname 'reset-game'. Previously we haven't used the single quote to define the click event. But now that we use also a class to define which object has been clicked, we needed to add the single quotes. You can use double quotes, just be consistent.
  </p>
  <h2>Reseting the game</h2>
  <p>
    The <code>resetGame</code> function should now set all player values of each box to <code>null</code>. Read more about <code>null</code> on <a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/null">MDN</a></p>
  <p>You have already seen the things that are necessary. The steps should be:</p>
  <ul class="listing">
    <li>find all boxes with <code>Boxes.find().fetch()</code></li>
    <li>Loop over the boxes with <code>for (var i = 0; i &lt; boxes.length; i++){...}</code></li>
    <li>Update each box with <code>Boxes.update(...)</code></li>
    <li>To always start with the same player, set the player on the <code>Session</code> variable with <code>Session.set('player', ...)</code></li>
  </ul>
  <p>
    Note: Remember to use the <code>console.log(...)</code> to debug your code.
  </p>
  <p>
    In the next step we want to make the code more robust. And make it a little bit nicer. You have seen a lot of stuff now, so let's see if you can figure out the next steps on your own.
  </p>
  {{>summary}}
  <p>
    You have added a reset button to the game. Yeah :D
  </p>

</template>
