<template name="step10">
  <h1>Display the winner and stop the game</h1>
  <p>
    In this step we want to display in the view when a player has won. There should also be a reminder which turn it is. And finally we want to user not any longer to be able to add a symbol when a winner is defined.
  </p>
  


  <p>We want you to figure out things on your own. So this step will only be a brief description of the necessary steps. But don't worry, the tutors are here to help you. You can also look at our final version of the code. And if you are back home and still want to go on. Google is your friend. Have you heard about stackoverflow? This is the side where every programmer can find answers. You can ask specific questions. But the chances are high that somebody else has had the same question. So type your question into google and see if you can find something, e.g. stackoverflow or some place else.</p>

</template>
